/* Estilos generales */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5; /* Fondo claro */
  color: #1a1a1a; /* Texto oscuro */
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

/* Contenedor principal */
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Sidebar */
.sidebar {
  background: #00bfa6;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar_logo {
  font-weight: bold;
  font-size: 20px;
  margin: 15px;
  color: white;
}

.sidebar_items a {
  margin: 15px;
  color: white;
  position: relative;
  text-decoration: none;
}

.sidebar_toggle{
  display: none;
}

section {
  margin-bottom: 0px;
  margin: 10px;
  text-align: center;
}

section h1 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #00bfa6;
}

section p {
  font-size: 1em;
  margin-bottom: 15px;
  line-height: 1.6;
}

/* Botones */
button {
  padding: 10px 20px;
  background-color: #00bfa6;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #008f7a;
}

/* Gym info */
.gyminfo {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background: linear-gradient(135deg, #ffffff, #e8f0fe);
  color: #333333;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.gym-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #04131f; /* Azul claro */
  text-transform: uppercase;
  font-weight: bold;
}

.section-title {
  margin-top: 30px;
  font-size: 1.8rem;
  border-bottom: 2px solid #00bfa6; /* Azul claro */
  padding-bottom: 5px;
  color: #333333;
}

.price-card, .promo-card, .info-card, .branch-card, .contact-card {
  background: #f9f9f9; /* Fondo claro */
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.membership-name, .promo-name, .info-text, .branch-name, .contact-mail {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #1a1a1a; /* Azul claro */
}

.membership-price, .promo-discount, .branch-address, .contact-tel {
  font-size: 1rem;
  color: #555555; /* Gris suave */
}

.price-card:hover, .promo-card:hover, .info-card:hover, .branch-card:hover, .contact-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
  background: #ffffff; /* Fondo blanco al hover */
  border: 1px solid #00bfa6; /* Borde azul claro al hover */
}


/* Estilos para el modal */
.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999;
}

.modal_content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal_content h2 {
  margin-bottom: 20px;
  text-align: center;
}

.modal_content label {
  flex-direction: column;
  display: block;
  margin-bottom: 10px;
  margin-right: 10px;
}

.modal_content input {
  width: 100%;
  padding: 6px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal_content input:hover {
  border: 1px solid #1a1a1a;
}

.modal_content button {
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #00bfa6;
  color: #fff;
  cursor: pointer; 
}

.modal_content button:hover {
  background-color: #008f7a;
}




/* Media Queries para Responsividad */  
@media (max-width: 768px) {
  .sidebar_items {
    position: absolute;
    top: 60px;
    left: 0;
    background: #008f7a;
    display: flex;
    flex-direction: column; /* Apilar elementos verticalmente */
    width: 100%;
    height: -webkit-fill-available;
    transform: translateX(-100%);
    transition: 0.3s ease all;
  }
  
  .sidebar_items.open {
    transform: translateX(0) !important;
  }

  .sidebar_toggle {
    display: flex !important;
    flex-direction: column;
    margin: 15px; 
  }

  .sidebar_toggle span {
    width: 30px;
    height: 4px;
    background: white;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }

  .sidebar_toggle.open > span {
    transform: rotate(45deg) translate(0px, 0px);
  }

  .sidebar_toggle.open > span:nth-child(2) {
    display: none;
  }

  .sidebar_toggle.open > span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }
}